.full-width-table {
  width: 100%;
}

td.mat-cell {
  /* row padding */
  padding: 16px 10px;
  /* row border */
  border-bottom: 1px solid #ffa600;
  border-top: 1px solid #ffa600;
  border-right: 1px solid black;

 }
 
 td.mat-cell:first-child {
   /* row border */
   border-left: 1px solid black;
 }
 
 td.mat-cell:last-child {
   /* row border */
   border-right: 1px solid black;
 }
 